<div class="side" >
    <%= link_to image_tag("srfuw_mizika_touka.png"), "/sorfuw/whatis", class: "side_image" %>
    <h1>solfuwとは？<br>詳しくは上の画像をクリック</h1>
    <p></p>
    <%= link_to image_tag("hanpen.png"), "https://cryptic-island-99067.herokuapp.com/", class: "side_image" %>
    <h1>solfuwは<br>はんぺん教を支援しています</h1>
    <h1>上の画像をはんぺんをクリックしてはんぺん教へ！</h1>
</div>